<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Kioto</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">Kioto</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Carrito</a>
                    <a href="signin.html">Empeza a disfrutar</a>

                </div>
            </header>
            <main class="main">
                <div class="content">
                    <ul class="products">
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/d1.jpg" alt="products">
                                <div class="product-name">
                                    <a href="product.html">Remera solida</a>
                                </div>
                                <div class="product-brand">Adidas</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 Stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/d1.jpg" alt="products">
                                <div class="product-name">
                                    <a href="product.html">Remera solida</a>
                                </div>
                                <div class="product-brand">Adidas</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 Stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/d1.jpg" alt="products">
                                <div class="product-name">
                                    <a href="product.html">Remera solida</a>
                                </div>
                                <div class="product-brand">Adidas</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 Stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/d1.jpg" alt="products">
                                <div class="product-name">
                                    <a href="product.html">Remera solida</a>
                                </div>
                                <div class="product-brand">Adidas</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 Stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/d1.jpg" alt="products">
                                <div class="product-name">
                                    <a href="product.html">Remera solida</a>
                                </div>
                                <div class="product-brand">Adidas</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 Stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/d1.jpg" alt="products">
                                <div class="product-name">
                                    <a href="product.html">Remera solida</a>
                                </div>
                                <div class="product-brand">Adidas</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 Stars (10 reviews)</div>
                            </div>
                        </li>
                        <li>
                            <div class="product">
                                <img class="product-image" src="images/d1.jpg" alt="products">
                                <div class="product-name">
                                    <a href="product.html">Remera solida</a>
                                </div>
                                <div class="product-brand">Adidas</div>
                                <div class="product-price">$60</div>
                                <div class="product-rating">4.5 Stars (10 reviews)</div>
                            </div>
                        </li>
                    </ul>
                </div>
                
            </main>
            <footer class="footer">
                Todos los derechos reservados
            </footer>
    </body>
</html>
